manifest {
    homePage = 'https://github.com/snewhouse/ngs_nextflow'
    description = 'NGS short read alignment using bwa mem with nextflow'
    mainScript = 'bwa_mem.nf'
}
trace {
    enabled = true
    file = 'pipeline_trace.txt'
    fields = 'task_id,process,tag,name,status,exit,start,complete,duration,realtime,%cpu,%mem,rss'
}
timeline {
  enabled = true
  file = 'timeline.html'
}
